<div class="publications">
  <h2 class="year"><br></h2>
  <ol class="bibliography">
    <li>
      <div class="row">
        <div class="col-sm-3 abbr"></div>
        <div class="col-sm-10">
          <div class="title">Accelerating Scientific Research with Gemini: Case Studies and Common Techniques</div>
          <div class="author">David P. Woodruff, et. al. (incl. Ying Feng)</div>
          <div class="periodical"></div>
          <div class="links">
            <a href="https://arxiv.org/abs/2602.03837" class="btn btn-sm z-depth-0" role="button">arXiv</a>
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
